global:
  scrape_interval: 15s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'API'
    metrics_path: '/api/v1/metrics'
    static_configs:
      - targets: ['api:3000']

  - job_name: 'Prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'Grafana'
    static_configs:
      - targets: ['grafana:3000']

  - job_name: 'Loki'
    static_configs:
      - targets: ['loki:3100']
  - job_name: 'Promtail'
    static_configs:
      - targets: ['promtail:9080']
  - job_name: 'Frontend'
    static_configs:
      - targets: ['frontend:5173']
