global:
  scrape_interval: 15s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'node-analytics-api'
    metrics_path: '/api/v1/metrics'
    static_configs:
      - targets: ['api:3000']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
  - job_name: 'promtail'
    static_configs:
      - targets: ['promtail:9080']
